    <main>
        <section class="cats">
            <ul>
                {{#if cats}}
                {{#each cats}}
                    {{>cat}}
                {{/each}}
                {{else}}
                <strong>There are no cats!</strong>
                {{/if}}
            </ul>
        </section>
    </main>
